@import "./Vars.scss";

body {
  background-color: $primary-color;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  color: #111;
  &:visited {
    color: #111;
  }
}

.App {
  text-align: center;
  position: relative;
  margin-bottom: 100px;

  .footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: $primary-accent;
    text-align: left;
    align-items: center;
    box-sizing: border-box;

    .footer-info {
      flex-grow: 9;
      font-size: 12px;
      vertical-align: middle;
    }

    .footer-options {
      flex-grow: 1;
      text-align: right;

      button {
        margin-left: 10px;
      }
    }
  }

  .hinter-wrapper {
    position: fixed;
    bottom: 60px;
  }
}

.main-wrapper {
  max-width: 600px;
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;

  .word-input {
    display: flex;
    width: 100%;

    .guess-input {
      flex-grow: 1;
      padding: 15px;
      font-size: 30px;
      border: 1px solid $secondary-accent;
      border-radius: 20px 0 0 20px;
      border-right: 0;
    }

    .guess-button {
      padding: 15px;
      font-size: 30px;
      background-color: $secondary-color;
      border: 1px solid $secondary-accent;
      border-radius: 0 20px 20px 0;
      border-left: 0;
      width: auto;
    }
  }

  .current-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;

    .winning-guess {
      text-align: center;
    }

    .incorrect-guess {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .last-word {
      text-transform: capitalize;
      font-size: 1.5em;
    }

    .distance {
      font-weight: bold;
    }
  }

  .guess-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;

    h3 {
      margin: 10px 0 10px 0;
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 10px;
    }

    .guess {
      flex-grow: 1;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 2px;
      padding-left: 8px;
      padding-right: 8px;
      line-height: 35px;
      box-sizing: border-box;
      overflow: hidden;

      div {
        display: inline-block;
      }

      &.last-guess {
        animation: 1s ease unroll;
      }

      &:last-of-type {
        margin-bottom: 20px;
      }
    }

    .guess-distance {
      float: right;
      font-weight: bold;
      text-align: right;
    }

    .guess-value {
      text-transform: capitalize;
    }

    .guess {
      &.already-guessed {
        border: 3px solid $danger-color;
        animation: 0.5s ease shake;
      }
    }
  }
}
