$primary-color: #dbad6a;
$secondary-color: #d0ce7c;
$tetiary-color: #628395;
$primary-accent: #cf995f;
$secondary-accent: #96897b;

$success-color: #d0ce7c;
$danger-color: #e26d5c;

$main-padding: 10px;
